/*backgrounds Colors*/
$bg-primary-color: #fff100;
$bg-secondary-color: #000000;
$bg-tertiary-color: #3c3c3b;

/* text colors */

$text-primary-color: #ffffff;
$text-secondary-color: #f5f5f5;
$text-tertiary-color: #542e90;
$text-quaternary-color: #f11133;

/* Border Colors */
$border-primary-color: #d8d8d8;
$divider-color: rgba(0, 0, 0, 0.3);
$scrollbar-bg-color: #d9d9d9;

/* Font size stack */
$font-size: (
    "micro": 14px,
    "mini": 16px,
    "medium-small": 18px,
    "smallest": 20px,
    "smaller": 22px,
    "small": 24px,
    "medium": 26px,
    "large": 40px,
    "larger": 48px,
    "largest": 56px,
);

/* Font Weights Stack */
$font-weights: (
    "normal": 400,
    "medium": 500,
    "extra-medium": 600,
    "bold": 700,
    "bolder": 800,
);
