@import "../../styles/variables.scss";

.header {
    width: 100%;
    height: $main-header-height;
    background-color: $bg-primary-color;
    color: $bg-secondary-color;
    display: flex;
    justify-content: center;
    .header__body {
        width: 70%;
        display: flex;
        justify-content: space-between;
        .header__logo {
            width: 12%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .header__logo__img {
                width: 50px;
                height: 50px;
            }
        }
        .header__announcement {
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            font: {
                size: map-get($font-size, "micro");
            }
        }
        .header__info {
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            ul {
                width: 100%;
                display: flex;
                justify-content: space-around;
                li {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    .header__infoItem {
                        margin: {
                            left: 5px;
                        }
                    }
                }
            }
        }
    }
}
