@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.header {
    @include dimension(100%, 50px);
    @include display-flex(row, center, center);
    background-color: $bg-primary-color;
    .header__body {
        @include dimension(70%, 100%);
        @include display-flex(row, space-between, center);
        .header__logo {
            width: 12%;
            @include display-flex(row, space-between, center);
            .header__logo__img {
                @include dimension(50px, 50px);
            }
        }
        .header__announcement {
            @include display-flex(row, space-between, center);
            width: 30%;
            @include font-stack(map-get($font-size, "micro"), map-get($font-weights, "normal"), 25px);

        }
        .header__info {
            @include display-flex(row, flex-end, center);
            width: 30%;
            ul {
                @include display-flex(row, space-between, center);
                width: 100%;

                li {
                    img {
                        @include dimension(20px, 20px);
                    }
                    width: 100%;
                    @include display-flex(row, flex-end, center);
                    .header__infoItem {
                        @include font-stack(map-get($font-size, "micro"), map-get($font-weights, "extra-medium"), 20px);

                        margin: {
                            left: 5px;
                        }
                    }
                }
            }
        }
    }
}
